
body {
    margin: 1cm;
    background-color:steelblue;
    font-family: 'Sora', serif;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: rgb(14, 25, 34);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-top-left-radius: 20px;
    text-align: left;
    outline: none;
    font-size: 17px;
    font-weight: bolder;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .education {
    outline: none;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
  }

  a.account-link {
    color: white;
    text-indent: 10px;
    align-content: ;
  }

  a:hover {
    color: orange;
  }

  a:active {
    color: red;
  }

a.button {
    outline: none;
    padding: 1mm;
    border-radius: 20px;
    background-color: rgb(41, 74, 100);
    color: #eee;
}

a.button:hover {
    color: rgb(91, 181, 255);
}

/* <uniquifier>: Use a uniquifier for the class name
/* <weight>: Use a value from 100 to 800 */

.sora-firstname {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-size: 100px;
  font-weight: 800;
  font-style: normal;
  line-height: 20px;
  color: rgb(14, 25, 34);
}

.sora-lastname {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-size: 100px;
  font-weight: 800;
  font-style: normal;
  line-height: 20px;
  color: rgb(35, 63, 84);
}

.column {
  float: left;
  width: 50%;
}

/* Media query for screens with a max width of 768 pixels */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.email {
  text-align: right;
  color:  rgb(14, 25, 34);
}

.name {
  padding-left: 120px;
  padding-top: 100px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 80px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(30, 81, 123);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 20px;
}

.bio {
  padding-right: 100px;
}

.cv {
  background-color: rgb(30, 81, 123);
  padding: 50px;
  border-radius: 20px;
}

h2 {
  color: rgb(200, 230, 255);
}

p {
  color: rgb(14, 25, 34);
}